.month {
  background: #d9d7d4;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  padding: .1rem 1rem .05rem;
  font-size: .8rem;
  position: relative;
  margin: 0;
  z-index: 1;
}
